@using JulioLoyalty.Business.Parameters;
@{
    RequestPais pais = new RequestPais();
    if (Session["pais"] is null)
    {
        JulioLoyalty.UI.Controllers.OperationController operation = new JulioLoyalty.UI.Controllers.OperationController();
        pais = operation.GetPaisBy();
        Session["pais"] = pais;
    }
    else
    {
        pais = Session["pais"] as RequestPais;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title</title>

    <!-- Font Awesome -->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Roboto Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript">
        @{
            string appBaseUrl = string.Format("var appBaseUrl = '{0}://{1}{2}';", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"));
            @Html.Raw(appBaseUrl)
        }
    </script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body class="@pais.theme">
    <div id="header" class="container-fluid px-0">
        <div class="logueado">
            <div class="container">
                @{
                    var url = Url.Action("Index", "Home");
                    if (User.IsInRole("Gerente"))
                    {
                        url = Url.Action("Activaciones", "Report");
                    }
                }
                <div id="logo">
                    <a href="@url"><img src="~/Content/images/misRecompensas.png" class="img-fluid" alt="Placeholder image"></a>
                </div>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
        @Html.Partial("_RenderMenu")
    </div>

    <div class="container body-content" style="padding-top:.8em;">
        <div class="loading hidden" style="padding-top:7em">
            <center><div id="spinner"></div></center>
            <br />
            <center><span class="verde">Cargando... espere... </span></center>
        </div>
        @RenderBody()
    </div>
    <br />
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.13/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Scripts/global/menu_control.js")

    <script type="text/javascript">
        $('#Busqueda').change(function (e) {
            if (this.value.trim() !== "") {
                localStorage.setItem("txtBusqueda", this.value);
                var pathname = window.location.pathname; // Returns path only
                var url = window.location.href;     // Returns full URL

                if (url === appBaseUrl || url === appBaseUrl + 'Home' || url === appBaseUrl + 'Home/Index') {
                    var parametro = localStorage.getItem('txtBusqueda');
                    cliente.principal.obtenerResultados(parametro);
                } else {
                    window.location.href = appBaseUrl;
                }
            }
        });

        if (window.localStorage !== undefined) {
            $(document).ready(function () {
                console.log("ready!");
                const nombre = localStorage.getItem('nombre')
                $('#spanCliente').text(nombre);
            });
        } else {
            alert('Your browser is outdated!');
        }
        $(window).on('scroll', function (event) {
            var scrollValue = $(window).scrollTop();
        });
    </script>

</body>
</html>