@{
    ViewBag.Title = "Datos generales";
}
@Styles.Render(
    "~/Content/bootstrapSelect/bootstrap-select.min.css",
    "~/Content/bootstrapDatepicker/bootstrap-datepicker.min.css"
)
<link href="~/Content/sweetalert2.css" rel="stylesheet" />
<div class="card hidden">
    <input type="hidden" id="hidUserName" value=@User.Identity.Name />
    <input type="hidden" id="hidParticipante_Id" />
    <div class="card-header">
        Datos generales
    </div>
    <div class="card-body">
        <form id="form_upadte">
            <div class="row">
                <div class="col-lg-3 required">
                    <label class="control-label">No. Membresía</label>
                    <input type="text" id="num_tarjeta" name="num_tarjeta" class="form-control numeric" placeholder="" />
                    <div class="dataFieldError hidden" data-valmsg-for="num_tarjeta">No. Membresía es requerido</div>
                </div>
                <div class="col-lg-3 required">
                    <label class="control-label"> Nombre</label>
                    <input type="text" id="nombre" name="nombre" class="form-control" placeholder="" />
                    <div class="dataFieldError hidden" data-valmsg-for="nombre">Nombre es requerido</div>
                </div>
                <div class="col-lg-3 required">
                    <label class="control-label"> Apellido Paterno</label>
                    <input type="text" id="ape_paterno" name="ape_paterno" class="form-control" placeholder="" />
                    <div class="dataFieldError hidden" data-valmsg-for="ape_paterno">Apellido paterno es requerido</div>
                </div>
                <div class="col-lg-3">
                    <label class="control-label"> Apellido Materno</label>
                    <input type="text" id="ape_materno" name="ape_materno" class="form-control" placeholder="" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <label class="control-label">Fecha Nacimiento (dd/mm/yyyy)</label>
                    <input type="text" id="fecha_nacimiento" name="fecha_nacimiento" class="form-control date" placeholder="" autocomplete="off" />
                    <div class="dataFieldError hidden" data-valmsg-for="fecha_nacimiento">Fecha de nacimiento no es válido</div>
                </div>
                <div class='col-lg-3'>
                    <label class="control-label">Correo Electrónico</label>
                    <input type="email" class="form-control" placeholder="" id="correo" name="correo" />
                    <div id="divValidaCorreo" class="dataFieldError hidden" data-valmsg-for="correo">Correo electrónico no es válido</div>
                </div>                
                <div class='col-lg-3'>
                    <label class="control-label">Teléfono Celular</label>
                    <input type="text" class="form-control numeric" placeholder="" id="tel_celular" name="tel_celular" maxlength="10" />
                    <div id = "divValidaTelCel" class="dataFieldError hidden" data-valmsg-for="tel_celular">Ingresa los 10 dígitos</div>                    
                    <div id = "divValidaTelCelSpecial" class="dataFieldError hidden" data-valmsg-for="tel_celular"><label id="lblMensajeTelCelSpecial"></label></div>
                </div>
                <div class="col-lg-3 required">
                    <label class="control-label">¿Cuál es tu ocupación?</label>
                    <select class="form-control selectpicker" id="selOcupacion" name="selOcupacion"></select>
                    <div class="dataFieldError hidden" data-valmsg-for="selOcupacion">Tipo de ocupación es requerido</div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-3">
                    <label class="control-label">Código postal</label>
                    <div class="input-group">
                        <input type="text" class="form-control numeric" id="codigo_postal" name="codigo_postal" placeholder="" maxlength="5">
                    </div>                    
                    <div id="divValidaCP" class="dataFieldError hidden" data-valmsg-for="codigo_postal"><label id="lblErrorCP"></label></div>
                </div>
                <div class="col-lg-3">
                    <label class="control-label">Estado</label>
                    <select class="form-control selectpicker" data-live-search="true" data-size="10" id="direccion_estado" name="direccion_estado">
                    </select>
                    <div id="divValidaEstado" class="dataFieldError hidden" data-valmsg-for="direccion_estado">Estado es requerido</div>
                </div>                
            </div>
            <br />
            <input type="hidden" id="participanteId" value="0" />
        </form>
    </div>
    <div class="card-footer text-right">
        <button type="button" id="btnHabilitar" class="btn btn-primary"> <i class="fas fa-edit"></i> Modificar socia</button>
        <button type="button" id="btnCancelar" class="btn btn-danger hidden"><i class="fas fa-times"></i> Cancelar</button>
        <button type="button" id="btnActualizar" class="btn btn-primary hidden"> <i class="fas fa-check-square"></i> Actualizar socia</button>
    </div>
</div>
<div class="modal fade" id="mi-modal" tabindex="-1" role="dialog" aria-labelledby="mi-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div style="text-align:center;"><h7 style="font-weight:bold;"><label id="lblCuidado"></label></h7></div>
                    <table class="table table-bordered table-sm table-hover w-100">                        
                        <tbody id="tbody"></tbody>
                    </table>
                </div>                
                <div class="col-lg-12 text-right">
                    <h6 style="color:#ff6a00; text-align:center;">Si unificas las membresías, <br /><strong style="color:#ff6a00; text-decoration: underline;">la socia perderá su historial y su nivel.</strong></h6>
                    <br />
                    <h6 style="color:#ff6a00; text-align:center;">¿Deseas unificar de todas formas?</h6>
                </div>
                <div class="col-lg-12 text-right">                    
                    <button type="button" class="btn btn-primary" id="modal-btn-si">Si</button>
                    <button type="button" class="btn btn-danger" id="modal-btn-no">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="mi-modal-com" tabindex="-1" role="dialog" aria-labelledby="mi-modal" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Atención</h5>
            </div>
            <div class="modal-body">
                <div class="col-lg-12 text-right">
                    <h5 style="color:#ff6a00">Comunícate a corporativo</h5>
                </div>
                <div class="col-lg-12 text-right">
                    <button type="button" class="btn btn-primary" id="modal-btn-si-com">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/bootstrapSelect")
    @Scripts.Render("~/bundles/bootstrapDatepicker")
    @Scripts.Render("~/Scripts/sweetalert.min.js")
    @Scripts.Render("~/Scripts/global/direccion.js")
    @Scripts.Render("~/Scripts/Registro/datos_generales.js")
}