@model JulioLoyalty.UI.Models.ChangePassword

@using (Ajax.BeginForm("ChangePasswordAjax", new { Controller = "Account" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divChange", OnComplete = "onCompleteAjax(this)", OnBegin = "onBeginAjax(this)", LoadingElementId = "progress" }, new { @id = "Ajaxform", @class = "form-horizontal", role = "form", autocomplete = "off", name = "form_change" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group row">
        <div class="col-sm-12 text-left">
            <div class="input-group g-brd-primary--focus">
                @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { @class = "form-control form-control-md rounded-0", @onkeypress = "return isNumber(event)", @maxlength = "16", @placeholder = "No, de membresía", @readonly = "readonly" } })
            </div>
            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger", @style = "font-size:12px" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12 text-left">
            <div class="input-group g-brd-primary--focus">
                @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control form-control-md rounded-0", @placeholder = "Nueva contraseña" } })
            </div>
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger", @style = "font-size:12px" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12 text-left">
            <div class="input-group g-brd-primary--focus">
                @Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { @class = "form-control form-control-md rounded-0", @placeholder = "Confirmar contraseña" } })
            </div>
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger", @style = "font-size:12px" })
        </div>
    </div>
    <div class="form-group text-left">
        @Html.ValidationMessage("OK", "", new { @class = "text-success" })
    </div>
    <div class="form-group text-left">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
    <div class="form-group text-right">
        <button type="submit" class="btn btn-primary"><i class="fas fa-check-square"></i> Actualizar</button>
    </div>
}

