@model JulioLoyalty.UI.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Cambio de contraseña";
}

<div class="col-md-12">
    <div class="card border-info mx-auto col-md-4">
        <div class="card-body">
            <div class="text-center">
                <h3><i class="fa fa-unlock-alt fa-4x"></i></h3>
                <h4 class="text-center">Restablecer su contraseña</h4>
                <p class="text-info">@ViewBag.Message</p>
                <div class="panel-body">
                    @using (Html.BeginForm("ResetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Token);
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Nombre de usuario" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Nueva contraseña" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirmar contraseña" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <div class="form-group">
                            <input id="ResetPassword" name="ResetPassword" type="submit" class="btn btn-primary btn-block" value="Cambiar contraseña">
                        </div>
                        <div asp-validation-summary="All"></div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>





